body {
    background-color: #f5f5f5;
}

header {
    background-color: #011e29;
    text-align: center;
    padding: 10px;
    color: white;
}

.latest-news-section {
    background-color: #ffffff; /* Adjust as needed */
    padding: 15px;
    width: 100%;
}

.pictorial-news-section {
    background-color: #ffffff; /* Adjust as needed */
    padding: 15px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}